In [132]:
#Задание 1

In [133]:
import numpy as np
import pandas as pd

In [134]:
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [135]:
data = boston["data"]
data.shape

(506, 13)

In [136]:
feature_names = boston["feature_names"]
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [137]:
target = boston["target"]
target[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [138]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [139]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [140]:
y = pd.DataFrame(target, columns=["price"])
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
price    506 non-null float64
dtypes: float64(1)
memory usage: 4.1 KB

In [141]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [142]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [143]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [144]:
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

In [145]:
check_test = pd.DataFrame({
 "y_test": y_test["price"],
 "y_pred": y_pred.flatten(),
})
check_test.head(10)

     y_test     y_pred
139    17.8  16.270392
388    10.2   6.873629
444    10.8  11.719799
495    23.1  17.083189
96     21.4  24.925929
225    50.0  40.132127
357    21.7  22.660127
292    27.9  32.429106
390    15.1  17.684298
332    19.4  23.696843

In [146]:
#Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head()

     y_test     y_pred     error
139    17.8  16.270392 -1.529608
388    10.2   6.873629 -3.326371
444    10.8  11.719799  0.919799
495    23.1  17.083189 -6.016811
96     21.4  24.925929  3.525929

In [147]:
from sklearn.metrics import r2_score
r2_score_1=r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_1

0.7165952341007729

In [148]:
#Задание 2

In [149]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [150]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [151]:
y_pred = model.predict(X_test)
y_pred.shape

(152,)

In [152]:
check_test = pd.DataFrame({
 "y_test": y_test["price"],
 "y_pred": y_pred.flatten(),
})
check_test.head(10)

     y_test     y_pred
139    17.8  14.860375
388    10.2   8.549604
444    10.8  10.494101
495    23.1  20.238528
96     21.4  22.550069
225    50.0  42.257265
357    21.7  20.372618
292    27.9  27.845315
390    15.1  14.039484
332    19.4  21.209399

In [153]:
r2_score_2=r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_2

0.8327317624031876

In [154]:
r2_score_1<r2_score_2

True

In [155]:
#Вывод: модель RandomForestRegressor работает лучше, чем модель LinearRegression

In [156]:
#Задание 3

In [157]:
?RandomForestRegressor

In [158]:
print(model.feature_importances_)

[0.03199586 0.0007318  0.00754775 0.00075957 0.01490905 0.32123335
 0.01381619 0.063438   0.00503194 0.01756602 0.01474917 0.01130588
 0.49691543]

In [159]:
model.feature_importances_.sum()

1.0

In [160]:
max_value_idx1=model.feature_importances_.argmax()
max_value_idx1

12

In [161]:
max_value_idx2=0
max_value=model.feature_importances_[max_value_idx2]
for i in range(model.n_features_):
 if max_value<model.feature_importances_[i] and i!=max_value_idx1:
   max_value=model.feature_importances_[i]
   max_value_idx2=i
print(max_value_idx2)

5